.pascal-negwer-pricecheck {
  .offer-quick-info:Hover {
    cursor: pointer;
  }
  div.chart {
    margin: 50px;
  }
  .chartjs-tooltip {
    width: 400px;
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}


