<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:pricecheck="http://typo3.org/ns/PascalNegwer/PriceCheck/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{offerPrice} < {koempfPrice}">
        <f:then>
            <small class="small text-left text-success">
                <i class="fa fa-angle-up"></i>
                <f:format.currency currencySign="%" decimalSeparator=",">
                    <pricecheck:percentageDiff numberA="{offerPrice}"
                                           numberB="{koempfPrice}"/>
                </f:format.currency>
            </small>
        </f:then>
        <f:else>
            <f:if condition="{offerPrice} > {koempfPrice}">
                <f:then>
                    <small class="small text-left text-danger">
                        <i class="fa fa-angle-down"></i>
                        <f:format.currency currencySign="%" decimalSeparator=",">
                            <pricecheck:percentageDiff numberA="{offerPrice}"
                                                   numberB="{koempfPrice}"/>
                        </f:format.currency>
                    </small>
                </f:then>
                <f:else>
                    <f:if condition="{offerPrice} == {koempfPrice}">
                        <f:then>
                            <small class="small text-left text-muted">
                                <i class="fa fa-arrows-h"></i>
                                <f:format.currency currencySign="%" decimalSeparator=",">
                                    0
                                </f:format.currency>
                            </small>
                        </f:then>
                        <f:else>
                            <f:if condition="{offerPrice} == 'NULL'">
                                <f:then>
                                    <f:if condition="{koempfPrice} == 'NULL'">
                                        <f:then>
                                            <small class="small text-left text-muted">
                                                <i class="fa fa-arrows-h"></i>
                                                <f:format.currency currencySign="%" decimalSeparator=",">
                                                    0
                                                </f:format.currency>
                                            </small>
                                        </f:then>
                                        <f:else>
                                            <small class="small text-left text-success">
                                                <i class="fa fa-angle-up"></i>
                                                <f:format.currency currencySign="%" decimalSeparator=",">
                                                    <pricecheck:percentageDiff numberA="0"
                                                                           numberB="{koempfPrice}"/>
                                                </f:format.currency>
                                            </small>
                                        </f:else>
                                    </f:if>
                                </f:then>

                                <f:else>
                                    <small class="small text-left text-danger">
                                        <i class="fa fa-angle-down"></i>
                                        <f:format.currency currencySign="%" decimalSeparator=",">
                                            <pricecheck:percentageDiff numberA="{offerPrice}"
                                                                   numberB="0"/>
                                        </f:format.currency>
                                    </small>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>
</html>