<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<body>
<div class="pascal-negwer-pricecheck">
    <f:flashMessages class="flashmessages"/>
    <f:render section="Main"/>
</div>
</body>
</html>



