<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:pricecheck="http://typo3.org/ns/PascalNegwer/PriceCheck/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Main">
    <a href="javascript:history.back()" class="btn btn-primary">
        <i class="fa fa-arrow-left"></i> zurück zur Produktauswahl
    </a>
    <h3>{product.name} (EAN: {product.ean})</h3>
    <div>
        <f:groupedFor each="{offers}" as="offersOfOneJob" groupBy="job.date" groupKey="date">
            <div class="panel panel-default">
                <div class="panel-heading offer-quick-info">
                    <h5>
                        {date -> f:format.date(format: 'd.m.Y  H:i')}
                        Uhr - vor
                        <pricecheck:dateDiff dateA="{date}"/>
                        Tagen
                    </h5>
                    <h4>
                        <f:count>{offersOfOneJob}</f:count>
                        Angebote - KÖMPF Preis:
                        <f:format.currency currencySign="€" decimalSeparator=",">
                            <pricecheck:koempfOfferInArray offers="{offersOfOneJob}"/>
                        </f:format.currency>
                        <i class="fa fa-chevron-circle-down pull-right"></i>
                    </h4>
                </div>

                <div class="panel-body hidden">
                    <table class="dataTable offer-table table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">Preis</th>
                            <th class="text-center">Versand</th>
                            <th class="text-center">Inklusiv</th>
                            <th class="text-right">Shop</th>
                            <th>Url</th>
                            <th>Quelle</th>
                        </tr>
                        </thead>

                        <tbody>
                        <f:for each="{offersOfOneJob}" as="offer">
                            <f:if condition="{offer.price}">
                                <tr class="{f:if(condition: '{offer.KoempfOffer}' then: 'info')}">
                                    <td class="text-right" data-order="{offer.price}">
                                        {offer.price -> f:format.currency(currencySign: '€',decimalSeparator: ',')}
                                        <f:if condition="{recentKoempfOffer}">
                                            <f:render partial="PriceDifference" section="Main"
                                                      arguments="{koempfPrice: recentKoempfOffer.price, offerPrice: offer.price}"/>
                                        </f:if>
                                    </td>


                                    <td class="text-right">
                                        {offer.shippingCosts -> f:format.currency(
                                        currencySign: '€',
                                        decimalSeparator: ',')}
                                        <f:if condition="{recentKoempfOffer}">
                                            <f:render partial="PriceDifference" section="Main"
                                                      arguments="{koempfPrice: recentKoempfOffer.shippingCosts, offerPrice: offer.shippingCosts}"/>
                                        </f:if>
                                    </td>


                                    <td class="text-right" data-order="{offer.inclusivePrice}">
                                        {offer.inclusivePrice -> f:format.currency(
                                        currencySign: '€',
                                        decimalSeparator: ',')}
                                        <f:if condition="{recentKoempfOffer}">
                                            <f:render partial="PriceDifference" section="Main"
                                                      arguments="{koempfPrice: recentKoempfOffer.inclusivePrice, offerPrice: offer.inclusivePrice}"/>
                                        </f:if>
                                    </td>
                                    <td class="">
                                        <span>
                                        <f:format.htmlentitiesDecode>{offer.shop.name}</f:format.htmlentitiesDecode>
                                        </span>
                                    </td>
                                    <td>
                                        <f:if condition="{offer.shop.url}">
                                            <f:link.external uri="{offer.shop.url}">{offer.shop.url}</f:link.external>
                                        </f:if>
                                    </td>
                                    <td>
                                        {offer.source}
                                    </td>
                                </tr>
                            </f:if>
                        </f:for>
                        </tbody>
                    </table>
                </div>
            </div>
        </f:groupedFor>
    </div>
</f:section>

</html>