<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="Default"/>
<f:section name="Main">
    <f:form action="reScan">
        <f:link.action action="showAddEansForm" class="btn btn-primary">
            Manuell EANs checken
        </f:link.action>
        <f:form.submit class="btn btn-primary" value="Ausgewählte erneut Scannen">
        </f:form.submit>
        <h3>Produktwahl</h3>
        <table cellspacing="0" width="100%" class="dataTable table table-striped table-hover display">
            <thead>
            <tr>
                <th>
                    <f:form.checkbox class="check-all" name="" value=""/>
                </th>
                <th>EAN</th>
                <th>Marke</th>
                <th>Produktbezeichnung</th>
                <th>KÖMPF</th>
                <th>Platz 1.</th>
                <th>%</th>
                <th>Letzte Abfrage</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{products}" as="product">
                <tr>
                    <td>
                        <f:form.checkbox
                                name="eans[]"
                                value="{product.ean}"/>
                    </td>
                    <td>
                        <f:link.action action="offerList" arguments="{product: product}">
                            {product.ean}
                        </f:link.action>
                    </td>
                    <td class="dt-body-left">
                        {product.brandName}
                    </td>
                    <td>
                        <f:link.action action="offerList" arguments="{product: product}">
                            {product.name}
                        </f:link.action>
                    </td>
                    <td data-order="{product.cheapestKoempfPrice}">
                        {product.cheapestKoempfPrice -> f:format.currency(currencySign: '€',decimalSeparator: ',')}
                    </td>
                    <td data-order="{product.cheapestOfferPrice}">
                        {product.cheapestOfferPrice -> f:format.currency(currencySign: '€',decimalSeparator: ',')}
                    </td>
                    <td>
                        <f:render partial="PercentageDifference" section="Main"
                                  arguments="{koempfPrice: product.cheapestOfferPrice, offerPrice: product.cheapestKoempfPrice}"/>

                    </td>
                    <td data-order="{product.lastJob.date -> f:format.date(format: 'YmdHi')}">
                        {product.lastJob.date -> f:format.date(format: 'd.m.Y H:i')} Uhr
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:form>
    <p>
        <f:link.action action="showRunningJobs">
            Jobs
        </f:link.action>
    </p>
</f:section>
</html>
