<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="Default"/>
<f:section name="Main">
        <f:link.action action="productList" class="btn btn-primary">
            <i class="fa fa-arrow-left"></i> zurück zur Produktauswahl
        </f:link.action>
    <h3>Laufende Jobs</h3>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Erstellt</th>
            <th>PriceApi Job Id</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{apiJobs}" as="apiJob">
            <tr>
                <td>{apiJob.job.date -> f:format.date(format: 'd.m.Y H:i')}</td>
                <td>{apiJob.apiJobId}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>
</html>
