<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Main">
    <a href="javascript:history.back()" class="btn btn-primary">
        <i class="fa fa-arrow-left"></i> zurück zur Produktauswahl
    </a>

    <h3>Manuell EANs checken</h3>

    <f:form action="addEans" method="post" name="input" object="{input}">
        <div class="panel panel-primary ">
            <div class="panel-heading">1. Quellen Wählen</div>
            <div class="panel-body">
                <div class="form-group">
                    <f:for each="{sources}" as="source">
                        <div class="form-group">
                            <f:form.checkbox
                                    property="sources"
                                    value="{source}"
                                    multiple="1"/>
                            <label class="text-uppercase">{source}</label>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
        <div class="panel panel-primary ">
            <div class="panel-heading">2. EANs eintragen</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="form-group">
                        <label for="eans">EANs:</label>
                        <f:form.textarea
                                placeholder="789456123456,789456123456,456789123456,132456789456,... oder pro Zeile eine EAN.."
                                autofocus="autofocus"
                                name="eans"
                                required="required"
                                class="form-control"
                                property="eans"/>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Abschicken</button>
    </f:form>
</f:section>

</html>